In [1]:
import pandas as pd

In [45]:
df = pd.read_csv('aaa.txt')

In [93]:
df.pivot_table(index=['time'],columns=['dt'],values=['value1','value2','value3'])

       value1                     value2                     value3           \
dt   20190312 20190313 20190314 20190312 20190313 20190314 20190312 20190313
time
1           1        1        1        2        2        2        3        3
2           1        1        1        2        2        2        3        3
3           1        1        1        2        2        2        3        3
4           1        1        1        2        2        2        3        3
5           1        1        1        2        2        2        3        3
6           1        1        1        2        2        2        3        3


dt   20190314
time
1           3
2           3
3           3
4           3
5           3
6           3

In [75]:
p.columns

MultiIndex(levels=[[20190312, 20190313, 20190314], ['value1', 'value2', 'value3']],
           labels=[[0, 1, 2, 0, 1, 2, 0, 1, 2], [0, 0, 0, 1, 1, 1, 2, 2, 2]],
           names=['dt', None])